/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/*Universals*/

/*navigation*/
.logomark{
  background-color: #337ab7;
  border-radius:30%;
  padding:5px;
  margin-top: 5px;
  margin-bottom: 5px;
}


#logomark-header{
  padding: 5px;
  border-radius: 20%;
}
#logo{
  font-family: 'Righteous', cursive;
  font-size: 20px ;
  color:#000;
  height:30px;
}
/*Nav pills css*/
#nav-bar{
  background-color: #5f6970;
}
#nav-position{
  margin-top:40px;
}

.nav-pills>li>a{
  font-family: 'Righteous',cursive;
  font-size: 26px;
  background-color: #454c51;
}
/*Nav bar ends*/

/*jumbotron*/
.jumbotron{
  background-image: url("../img/hero-bg.png");
  background-size:cover;
  background-position:center;
  height:400px;
  font-family: 'Audiowide', cursive;
  color:#337ab7;
  margin:0;
}
.jumbotron>h1{
  font-size: 100px;
  margin-top: 75px;
}

  /*Footer*/
#footer-bg{
  background-color: #5f6970;
}
/*Footer Logo*/
#word-mark{
    font-family: 'Righteous', cursive;
    font-size: 18px;
}
#footer-logo{
    height:50px;
}
/*footer logo end*/
address{
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
}

.social-media>a{
  color: #fff;
  font-size: 16px;
}
.social-media>a>i{
color: #337ab7;
font-size: 24px;
margin: 0 10px;
}
/*Media Queary*/
@media screen and (max-width: 480px){
  .jumbotron{
    height:100px;
  }
  .jumbotron>h1{
    font-size: 32px;
    margin-top: -13px;
  }
  #logo{
    font-size: 32px;
  }
  .nav-pills>li>a{
    font-size: 18px;
  }
  .nav-pills>li{
    float:none;
    display:inline-block;
  }
  .nav-pills{
    text-align: center;
  }

  .social-media>a{
    color: #fff;
    font-size: 12px;
  }
  .social-media>a>i{
  color: #337ab7;
  font-size: 18px;
  margin: 0 10px;
  }
}
/*end media Queary*/
